language: elixir
elixir:
  - 1.18.2
  - 1.17.4
otp_release:
  - 27.2.2
  - 26.3.6
env:
  - MIX_ENV=test
sudo: false
before_script:
  - mix format --check-formatted
  - mix compile --warnings-as-errors
  - mix credo --strict
  - mix dialyzer
script:
  - mix test
after_script:
  - mix coveralls.travis
cache:
  directories:
    - priv/plts
